<ion-view view-title="Leitor QR">
   <ion-content ng-controller="LeitorQRCtrl">
   
          <center><img src="img/qr-codes.jpg"></center>
          <center><div><p>Para continuar posicione a tela marcada de forma que todo o código possa ser visto, aguarde alguns segundos para o scaneamento, e logo em seguida a aba desejada será aberta.</p></div></center>
          <center><button class="button button-block button-dark" ng-click="ler()"> Escanear </button></center>
          
      </ion-content>
</ion-view>
