<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
      <ion-content>
          <div >
			<div class="cols cols-6-3x">
	    		<div class="content"><img src="../img/wine.png"><br><br>Produtos</div>
	 		 </div>
	  		<div class="cols cols-6-3x">
	   			<div class="content"><img src="../img/house.png"><br><br>Visitar</div>
	  		</div>
	  		<div class="cols cols-6-3x">
	    		<div class="content"><img src="../img/location.png"><br><br>Localização</div>
	  		</div>
	  		<div class="cols cols-6-3x">
	    		<div class="content"><img src="../img/qr.png"><br><br>Enoturismo</div>
	  		</div>
	  		<div class="cols cols-6-3x">
	    		<div class="content"><img src="../img/icon.png"><br><br>Sobre</div>
	  		</div>
	  		<div class="cols cols-6-3x">
	    		<div class="content"><img src="../img/phone.png"><br><br>Contatos</div>
  		</div>
  	</div>
      </ion-content>
  </body>
</html>