<ion-view view-title=" ">
  <ion-content class="padding">
    <center>
    <h2>Rio Sol</h2>
    <h3>Enoturismo</h3>
    <p>
    <!--<a class="button icon icon-right ion-chevron-right" href="#/menu">menu</a> </center>-->
    <center>
        <a class="button button-full button-dark icon icon-right ion-chevron-right" href="#/tab/leitor">Leitor de QR</a>
        <a class="button button-full button-dark icon icon-right ion-chevron-right" href="#/tab/foto">Câmera Rio Sol</a>
    </center>
    <!--<button class="button button-block button-dark" href="#/intro"> Script </button>-->
    </center>
    </p>
  </ion-content>
</ion-view>


